<div class="container my-3 min-vh-100">
  <h1>List of Cocktails</h1>

  <% if @query %>
  <p>Result search for <strong><%= @query %></strong>. (<%= @cocktails.count %> cocktails)</p>
  <% else %>
  <p>List all cocktails. (<%= @cocktails.count %> cocktails)</p>
  <% end %>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card">
      <% if cocktail.photo.attached? %>
      <%= cl_image_tag cocktail.photo.key, crop: :fill %>
      <% else %>
      <img src="https://source.unsplash.com/400x300/?cocktail" class="card-img-top" alt="<%= cocktail.name %>">
      <% end %>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title"><strong><%= cocktail.name %></strong></h5>
          <div class="stars">
            <% average_rating = Review.where(cocktail: cocktail).average(:rating) || 0 %>
            <% average_rating.floor.times do %>
            <i class="fas fa-star"></i>
            <% end %>
            <% (5-average_rating.floor).times do %>
            <i class="far fa-star"></i>
            <% end %>
          </div>
        </div>
        <p class="card-text"><%= cocktail.description %></p>
      </div>
      <div class="card-bottom d-flex justify-content-between align-items-center">
        <%= link_to "Explore", cocktail_path(cocktail), class: "btn btn-primary" %>
        <div class="d-flex">
          <%= link_to edit_cocktail_path(cocktail), class: "text-success mr-1" do%>
          <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to cocktail_path(cocktail), method: "delete", class: "text-warning" do%>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
