<%= render "shared/banner" %>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="flat-card bg-light p-4 rounded">
        <h1><strong><%= @cocktail.name %></strong></h1>
        <div class="stars my-2">
          <% average_rating = Review.where(cocktail: @cocktail).average(:rating) || 0 %>
          <% review_count = Review.where(cocktail: @cocktail).count || 0 %>
          <% average_rating.floor.times do %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (5-average_rating.floor).times do %>
          <i class="far fa-star"></i>
          <% end %>
          <br>
          <%= average_rating.round(2) %> out of 5
          (<%= review_count %> reviews)
        </div>
        <h3><%= @cocktail.description %></h3>
      </div>
      <div class="flat-card flat-card-description bg-light p-4 my-3 rounded">
        <h2>Ingredients :</h2>
        <ul>
          <% @cocktail_doses.each do |dose| %>
          <li class="d-flex justify-content-between">
            <span><i class="fas fa-circle icon-small"></i> <%= dose.description %> <%= dose.ingredient.name %></span>
            <span>
              <%= link_to dose_path(dose), method: "delete" do%>
              <i class="far fa-trash-alt"></i>
              <% end %>
            </span>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="flat-card flat-card-description bg-light p-4 my-3 rounded">
        <h2>Reviews :</h2>
        <% @cocktail_reviews.each do |review| %>
        <div class="review-card p-1 my-2">
          <div class="review-card-top d-flex justify-content-between pb-2">
            <div class="stars">
              <% review.rating.times do %>
              <i class="fas fa-star"></i>
              <% end %>
              <% (5-review.rating).times do %>
              <i class="far fa-star"></i>
              <% end %>
            </div>
            <%= link_to review_path(review), method: "delete" do%>
            <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
          <div class="review-card-body">
            "<%= review.content %>"
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flat-card bg-light p-4 rounded">
        <h5>Add new ingredient to <%= @cocktail.name %> </h5>
        <%= simple_form_for [@cocktail, @new_dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient, as: :select %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="flat-card bg-light p-4 my-3 rounded">
        <h5>Add new review for <%= @cocktail.name %> </h5>
        <%= simple_form_for [@cocktail, @new_review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "Back to List", cocktails_path %>
  </div>
</div>

